/* Reset og border-box รก allt */
* {
	margin: 0;
	padding: 0;
  }
  
  html {
	box-sizing: border-box;
	max-width: 100vw;
	min-height: 100vh;
	overflow-y: hidden;
  }

  body {
	width: 100vw;
	height: 100vh;
	height: 100svh;
	position: relative;
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
	grid-template-columns: 1fr;
  }

  footer {
	text-align: end;
	grid-row: 3;
	align-content: end;
	vertical-align: baseline;
  }
  
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }

  /* Button */
  .btn-grid {
	grid-row: 2;
	/* position: absolute; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	z-index: 100000;
	width: 100vw;
	height: 80vh;
  }
  .btn {
	font-size: larger;
	background: none;
	border: 1px solid black;
	border-radius: 1em;
  }
  .btn:active {
	font-weight: 700;
	font-size: larger;
	background-color: rgba(0,0,0,0.5);;
  }
  .w {
	grid-column: span 2;
	grid-row: 1;
  }
  .a {
	grid-column: 1;
	grid-row: 2;
  }
  .s {
	grid-column: span 2;
	grid-row: 3;
  }
  .d {
	grid-column: 2;
	grid-row: 2;
  }
  .title {
	align-self: center;
	text-align: center;
  }